<html>
    <head>
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
	<table
	    hx-post="{{ url_for('preview') }}"
	    hx-trigger="load, change"
	    hx-target="#preview"
	    hx-include="this"
	    hx-ext="json-enc"
	>
	    <thead>
		<th>Tag</th>
		<th>Id</th>
		<th>Classes</th>
	    </thead>
	    <tbody id="selector-table-body">
	    {% for selector in selectors %}
		<tr>
		    <td class="align-top">
			<input
			    name="tag-{{ loop.index }}"
			    value="{{ selector.tag }}"
			    id="tag-{{ loop.index }}"
			    type="checkbox"
			    checked="checked"
			>
			<label for="tag-{{ loop.index }}">{{ selector.tag }}</label>
		    </td>
		    <td class="align-top">
		    {% if selector.id is not none %}
			<input
			    name="id-{{ loop.index }}"
			    value="{{ selector.id }}"
			    id="id-{{ loop.index }}"
			    type="checkbox"
			    checked="checked"
			>
			<label for="id-{{ loop.index }}">{{ selector.id }}</label>
		    {% endif %}
		    </td>
		    <td class="grow">
		    {% set outer_loop = loop %}
		    {% for class in selector.classes %}
			<div>
			    <input
				name="class-{{ outer_loop.index }}"
				value="{{ class }}"
				id="class-{{ outer_loop.index }}"
				type="checkbox"
				checked="checked"
			    >
			    <label for="class-{{ outer_loop.index }}-{{ loop.index }}">{{ class }}</label>
			</div>
		    {% endfor %}
		    </td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>
	<div id="preview">{{ preview }}</div>
	<a href="{{ url_for('recipe') }}">Confirm</a>
    </body>
</html>
