{% from 'utils.html' import input, select %}
<div id="extractor" class="flex-col">
    <div class="flex">
	{{ input(
		"name",
		name,
		url_for("put_extractor_name", id=id),
		"input changed delay:500ms",
		class='"extractor-name grow"',
		onkeypress='"return event.charCode != 32"'
	   )
	}}
    </div>
    <div class="flex flex-row">
	<span class="flex-none">Selector: </span>
	<span class="grow">
	    {% if selector is none %}
		None
	    {% else %}
		{{ selector }}
	    {% endif %}
	</span>
	{% set options = ["text", "innerHTML", "outerHTML"] %}
	{% if selector is not none and selector.split()[-1].startswith("a") %}
	    {% set options = ["href", "text", "innerHTML", "outerHTML"] %}
	{% endif %}
	{{ select("value", options, value, url_for("put_extractor_value", id=id)) }}
	<a class="flex-none" href="{{ url_for('select').include_query_params(id=id) }}">Select</a>
    </div>
    <button
	hx-delete="{{ url_for('delete_extractor', id=id) }}"
	hx-trigger="click"
	hx-target="closest div#extractor"
	hx-swap="delete"
	hx-confirm="Are you sure? This action is not reversible"
    >
	Delete
    </button>
    <br>
</div>
