<div id="extractor" class="flex-col">
    <div>
	<label for="name">Name: </label>
	<input
	    id="name"
	    name="name"
	    value="{{ name if name is not none }}"
	    hx-put="{{ url_for('put_name', id=id) }}"
	    hx-trigger="input changed delay:500ms"
	    hx-ext="json-enc"
	/>
    </div>
    <div class="flex flex-row">
	<label class="flex-none" for="selector">Selector: </label>
	<div class="flex-auto flex flex-row" id="selector">
	    <span class="flex-auto">
		{% if selector is none %}
		    None
		{% else %}
		    {{ selector }}
		{% endif %}
	    </span>
	    <a class="flex-auto" href="{{ url_for('select').include_query_params(id=id) }}">Select</a>
	</div>
    </div>
    <button
	hx-delete="{{ url_for('remove', id=id) }}"
	hx-trigger="click"
	hx-target="closest div#extractor"
	hx-swap="delete"
    >
	Delete
    </button>
    <br>
</div>
