{% from 'utils.html' import input, text %}
<html>
    <head>
	<script src="{{ url_for('js', path='htmx/htmx.min.js') }}"></script>
	<script src="{{ url_for('js', path='htmx/json-enc.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('css', path='tailwind.css') }}">
    </head>
    <body class="flex h-full">
	<div class="basis-1/2">
	    <h2 class="text-center">Extractors</h2>
	    <div id="extractors">
		{% for extractor in extractors %}
		    {{ extractor }}
		{% endfor %}
	    </div>
	    <div class="flex justify-center">
		<button
		    hx-get="{{ url_for('extractor') }}"
		    hx-trigger="click"
		    hx-target="#extractors"
		    hx-swap="beforeend"
		>
		    Add extractor
		</button>
	    </div>
	</div>
	<div class="basis-1/2 flex flex-col">
	    <h2 class="text-center">Template</h2>
	    {{ input('filename', url_for('put_filename'), template.filename) }}
	    {% call text('content', url_for('put_content'), 'span#content-message', 'innerHTML', class='grow') %}
		{{- template.content -}}
	    {% endcall %}
	    <span id="content-message"></span>
	</div>
    </body>
</html>
