<html>
    <head>
	<script src="{{ url_for('js', path='htmx/htmx.min.js') }}"></script>
	<script src="{{ url_for('js', path='htmx/json-enc.js') }}"></script>
	<script src="{{ url_for('css', path='tailwind.css') }}"></script>
    </head>
    <body class="flex">
	<div>
	    <h2>Extractors</h2>
	    <div id="extractors">
		{% for extractor in extractors %}
		    {{ extractor }}
		{% endfor %}
	    </div>
	    <button
		hx-get="{{ url_for('extractor') }}"
		hx-trigger="click"
		hx-target="#extractors"
		hx-swap="beforeend"
	    >
		Add extractor
	    </button>
	</div>
	<div>
	    <h2>Template</h2>
	</div>
    </body>
</html>
