<html>
    <head>
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex">
	<div>
	    <h2>Extractors</h2>
	    <div id="extractors">
		{% for extractor in extractors %}
		    {{ extractor }}
		{% endfor %}
	    </div>
	    <button
		hx-get="{{ url_for('extractor') }}"
		hx-trigger="click"
		hx-target="#extractors"
		hx-swap="beforeend"
	    >
		Add extractor
	    </button>
	</div>
	<div>
	    <h2>Template</h2>
	</div>
    </body>
</html>
