{% macro args_to_attrs(args) %}
    {% for key, value in args.items() %}
	{{ key }}={{ value }}
    {%- endfor -%}
{% endmacro %}

{% macro put_on_change(endpoint, delay='500ms') %}
    {% if endpoint is not none -%}
	hx-put="{{ endpoint }}"
	hx-trigger="input changed delay:{{ delay }}"
	hx-ext="json-enc"
    {% endif %}
{% endmacro %}

{% macro checkbox(name, value, checked=true) %}
    <div {{ args_to_attrs(kwargs) }}>
	<input
	    name="{{ name }}"
	    value="{{ value }}"
	    id="{{ name }}"
	    type="checkbox"
	    checked="checked"
	>
	<label for="{{ name }}">{{ value }}</label>
    <div>
{% endmacro %}

{% macro input(name, endpoint=None, value=None) %}
    <input
	{{ args_to_attrs(kwargs) }}
	id="{{ name }}"
	name="{{ name }}"
	value="{{ value if value is not none }}"
	placeholder="{{ name.capitalize() }}..."
	{{ put_on_change(endpoint) }}
    />
{% endmacro %}

{% macro text(name, endpoint=None) %}
    <textarea
	class="resize-none {{ kwargs['class'] }}"
	{{ args_to_attrs(kwargs) }}
	id="{{ name }}"
	name="{{ name }}"
	placeholder="{{ name.capitalize() }}..."
	{{ put_on_change(endpoint, '1s') }}
    >
	{{- caller() if text.caller -}}
    </textarea>
{% endmacro %}
