{% macro args_to_attrs(args) %}
    {% for key, value in args.items() %}
	{{ key }}={{ value }}
    {%- endfor -%}
{% endmacro %}

{% macro put_on(endpoint, trigger=None, delay=None) %}
    {% if endpoint is not none -%}
	hx-put="{{ endpoint }}"
	{% if trigger is not none %}
	    hx-trigger="{{ trigger }} delay:{{ delay if delay is not none else '0s' }}"
	{% endif %}
	hx-ext="json-enc"
    {% endif %}
{% endmacro %}

{% macro checkbox(name, value, checked=true) %}
    <div {{ args_to_attrs(kwargs) }}>
	<input
	    name="{{ name }}"
	    value="{{ value }}"
	    id="{{ name }}"
	    type="checkbox"
	    checked="checked"
	>
	<label for="{{ name }}">{{ value }}</label>
    <div>
{% endmacro %}

{% macro input(name, endpoint=None, value=None) %}
    <input
	{{ args_to_attrs(kwargs) }}
	id="{{ name }}"
	name="{{ name }}"
	value="{{ value if value is not none }}"
	placeholder="{{ name.capitalize() }}..."
	{{ put_on(endpoint, 'input changed', '500ms') }}
    />
{% endmacro %}

{% macro text(name, endpoint=None) %}
    <textarea
	class="resize-none {{ kwargs['class'] }}"
	{{ args_to_attrs(kwargs) }}
	id="{{ name }}"
	name="{{ name }}"
	placeholder="{{ name.capitalize() }}..."
	{{ put_on(endpoint, 'input changed', '1s') }}
    >
	{{- caller() if text.caller -}}
    </textarea>
{% endmacro %}

{% macro select(name, options, selected=None, endpoint=None) %}
    <select
	{{ args_to_attrs(kwargs) }}
	name="{{ name }}"
	{{ put_on(endpoint, 'load, change') }}
    >
	{% for option in options %}
	    <option
		{% if option == selected %}
		    selected="selected"
		{% endif %}
	    >
		{{ option }}
	    </option>
	{% endfor %}
    </select>
{% endmacro %}
